{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center mt-5 mb-5">Welcome to RetTrip</h1>
    </div>

    <div class="col-lg-6 mb-4">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Customer</h5>
          <p class="card-text">You can send your parcel everywhere using our networks of drivers.</p>
          <a href="{% url 'customer:home' %}" class="btn btn-md btn-primary">More</a>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mb-4">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Driver</h5>
          <p class="card-text">Make some money on your return trip by transporting packages on your free space</p>
          <a href="{% url 'driver:home' %}" class="btn btn-md btn-primary">More</a>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
