<style>
  
  .bottom-tabs {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .bottom-tabs>a {
    flex: 1;
    padding: 5px;
    color: #BFBFBF;
    text-decoration: none;
  }

  .bottom-tabs>a>span {
    font-size: 13px;
    font-weight: bold;
    display: block;
  }

  .bottom-tabs>a>i {
    font-size: 20px;
  }

  .bottom-tabs>a.active {
    color: #FFC106;
  }

</style>

{% url 'driver:available_tasks' as url_available_tasks %}
{% url 'driver:current_task' as url_current_task %}

<div class="bottom-tabs d-flex">
  <a href="{% url 'driver:available_tasks' %}" class="{% if request.path == url_available_tasks %}active{% endif %}">
    <i class="fas fa-map-marked-alt"></i>
    <span>Available Tasks</span>
  </a>

  <a href="{% url 'driver:current_task' %}" class="{% if request.path == url_current_task %}active{% endif %}">
    <i class="fas fa-archive"></i>
    <span>My Tasks</span>
  </a>

  <a href="#">
    <i class="fas fa-user"></i>
    <span>Profile</span>
  </a>

</div> 